*.code-workspace
lake-packages/
lean_packages/
*~
\#*
.#*
*.lock
build
GPATH
GRTAGS
GSYMS
GTAGS
.projectile
.lean_options
.vs
compile_commands.json
*.idea
tasks.json
settings.json
.gdb_history
.vscode
*.produced.out
CMakeSettings.json
CppProperties.json
result
mlir-opt
mlir-opt.c
crash
crash.c
build/
examples/.lit_test_times.txt
examples/Output
temp.mlir
tags
test-semantics/*.mlir
test-semantics/*.llvm
*.olean
lakefile.olean
.lake/
